.Lista {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 90%;
  align-items: center;
  padding: 20px;
}

.formulario {
  width: 100%;
}

.titulo {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .novoitem {
    height: 50px;
    font-size: 16px;
  }

  .titulo {
    font-size: 24px;
  }
}
